# Configurações do projeto Spyder
.spyderproject
.spyproject

# Configurações do projeto de corda
.ropeproject

# documentação mkdocs
/local

#mypy
.mypy_cache/
.dmypy.json
dmypy.json

# verificador de tipo de pira
.pira/

# analisador de tipo estático pytype
.pytype/

# Símbolos de depuração do Cython
cython_debug/

# PyCharm
# O modelo específico do JetBrains é mantido em um JetBrains.gitignore separado que pode
# pode ser encontrado em https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# e pode ser adicionado ao gitignore global ou mesclado neste arquivo. Por um mais nuclear
# opção (não recomendado) você pode descomentar o seguinte para ignorar toda a pasta de ideias.
#.idéia/

### Python Patch ###
# Arquivo de configuração local do Poetry - https://python-poetry.org/docs/configuration/#local-configuration
poesia.toml


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Histórico local para código do Visual Studio
.história/

# Extensões de código do Visual Studio criadas
*.vsix

### Correção do VisualStudioCode ###
# Ignora todo o histórico local de arquivos
.história
.ionide

### Janelas ###
# Arquivos de cache de miniaturas do Windows
Thumbs.db
Thumbs.db:criptografável
ehthumbs.db
ehthumbs_vista.db

# Despejar arquivo
*.stackdump

# Arquivo de configuração da pasta
[Dd]esktop.ini

# Lixeira usada em compartilhamentos de arquivos
$RECYCLE.BIN/

# Arquivos do instalador do Windows
*.táxi
*.msi
*.msix
*.msm
*.msp

# Atalhos do Windows
*.lnk
